UNIQUE_NAMESPACE=prompt-management
IMAGE_REPOSITORY=myartifactory.company.com
IMAGE_REPOSITORY_DIVISION=/
PROXY_USER=myproxy-user
PROXY_PASSWORD=+++++ ASK FOR THE PASSWORD FROM A TRUSTED PARTY +++++
PROXY_FQDN=myproxy.company.com
PROXY_PORT=8080
POSTGRES_PASSWORD=+++++ ASK FOR THE PASSWORD FROM A TRUSTED PARTY +++++